
/* TOPBAR */
.topbar {
    background-color: #232323;
    padding-bottom: 10px;
}

.topbar .logo {
    display: flex;
}

.topbar .contact-text {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: end;
}

.topbar .contact-text .topbar-text {
    color: #999999;
    font-size: 13px;
    margin-bottom: unset;
}

.topbar .contact-text .topbar-text:last-child {
    margin-bottom: unset;
}

.topbar .contact-text .topbar-text a {
    color: #fdc507;
    text-decoration: none;
}

.topbar .logo-text {
    color: #ffffff;
    font-size: 24px;
    align-self: end;
    margin-left: 27px;
    margin-bottom: unset;
    width: 121px;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(to top,  #2b2b2b 0%,#2b2b2b 50%,#333333 50%,#333333 100%);
}

.navbar .nav-item .nav-link{
    font-size: 13px !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: #676767;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar .d-flex .form-control {
    background-color: #161616;
    border-color: #161616;
    border-radius: 15px;
}

.navbar .d-flex .form-control::placeholder {
    text-transform: uppercase;
    color: #c7ced6;
}

.navbar .d-flex .btn {
    position: absolute;
    right: 20px;
    border: none;
}

.navbar .d-flex .btn:hover, .navbar .d-flex .btn:active {
    background-color: transparent;
    border: none;
}

.navbar .d-flex .btn:focus {
    box-shadow: none;
}

.navbar .btn .fa-search{
    color: #b7b8b7;
    font-weight: 400;
}

/* FRONTIMAGE */
.front-image {
    background-color: #232323;
}

.front-image .row {
    text-align: center;
}

.front-image .row .col-md-8 {
    position: relative;
    padding: unset;
}

.front-image .col-md-8 .text-image {
    position: absolute;
    bottom:0;
    padding: 10px 30px;
    background-color: #80423d;
    color: #fff;
    width: 100%;
}

.front-image .text-image p {
    font-size: 24px;
    margin: unset;
}

/* BRANDSECTION */
.brand-section {
    padding: 35px;
}

.brand-section .boxes {
    display: flex;
    justify-content: space-evenly;
}

.brand-section .boxes .box {
    background-color: #cacaca;
    position: relative;
    padding: unset;
    border: 10px solid #cacaca;
    width: 500px;
}

.brand-section .box .box-text {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    background-color: #333333;
    width: 100%;
    color: #fff;
    text-align: right;
}

.brand-section .box-text p {
    margin: unset;
}

.brand-section .brands {
    margin-top: 40px;
    margin-bottom: 45px;
}

.footer {
    padding: 30px;
    background-color: #dfdfdf;
    border-top: 10px solid #cacaca;
}

.footer .company {
    align-self: center;
}

.footer .list-group .list-group-item {
    background-color: #dfdfdf;
    border: none;
    color: #787878;
    font-size: 13px;
}

.footer .shop-openings {
    font-weight: 900;
    font-size: 12px;
    color: #787878;
}

.footer .openings-hours {
    color: #787878;
    font-size: 12px;
}

.footer .social-text {
    margin-top: 20px;
    color: #787878;
    font-size: 12px;
}

/* BOTTOMBAR */
.bottombar {
    padding: 20px;
    background-color: #171717;
}

.bottombar .col-md-6:first-child {
    text-align: left;
}

.bottombar .col-md-6:last-child {
    text-align: right;
}

.bottombar .bottombar-text {
    color: #787878;
    font-size: 12px;
    margin: unset;
}